@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

body {
  position: relative;
  fill: #ffffff;
  background: #f2f2f2;
}

.score-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  color: #232527;
}

.tries {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vw;
}

.score {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
  }

.select-size {
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
    align-items: center;
}
